.suggestion-container {
    box-sizing: border-box;
    width: 50%;
    max-height: 20rem;
    overflow-y: scroll;
    display: block;
    position: absolute;
    top: 3rem;
    left: 17rem;
    border-radius: 2px 2px 5px 5px;
    background-color: #FFF;
    z-index: 19;
    cursor: pointer;
}

.suggestion {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
    border-bottom: 1px solid #EFEFEF;
    text-align:left;
    height: auto;
    z-index:9;
    display: flex;
    justify-content: space-between;
}

.suggestion:hover {
    background-color: #DFDFDF;
}

.count {
    font-size: 0.9rem;
    color: #AFAFAF;
}